// Here you'll find the elements styles that are on every subsites: #Container; #Inner; #Navigation; #Buttons; #Footer; and sth else.

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   // background: #0064001a !important;
}

html,body{width: 100vw;min-height: 100vh;}
body{
   // display: flex;
   // flex-direction: column;
   // justify-content: center;
   // align-items: center;

   overflow-x: hidden;
   font-family: "PT Sans", Arial, "Museo Slab 500", sans-serif;
}

// Text
p{font-family: "PT Sans", Arial, sans-serif;}

// Highlight
.highlight{
   color: #a0ce4e;
}

// Container
#container{
   min-width: 360px;
   max-width: 1280px;
   margin: 0 auto;
   overflow: hidden;
}

// Inner
.inner{
   display: grid;
   grid-template-columns: 1fr 68% 1fr;
   grid-template-rows: auto;
   width: 100%;
   height: 100%;
   margin: 0 auto;
}

@media screen and (max-aspect-ratio: 4/5){
   .inner{
      grid-template-columns: 1fr 85% 1fr;
   }
   .learn-more{
      
   }
}

// Navigation
.top-nav{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;

   width: 100%;
   background: #fff;
   border-bottom: 1px solid rgb(221, 221, 221);
   z-index: 900;

   &_logo{width: 140px;cursor: pointer;}
   &_links{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
      .active > a::before{
         content: '';
         position: absolute;
         display: block;
         background: #a0ce4e;
         width: 100%;
         height: 3px;
         top: 0;
         left: 0;
      }
      &__item{
         position: relative;
         list-style: none;
         cursor: pointer;
         
         a{
            position: relative;
            display: inline-block;
            font-family: "Mouse Slab 500";
            font-size: 15px;
            text-decoration: none;
            padding: 1.9em 0;
            margin: 0 25px;
            color: #555;
            transition: color .1s ease;

            &:hover{color: #a0ce4e;}
         }
      }
   }
}

// Dropdown Menu
.dropdown-parent:hover{.dropdown{transform: scaleY(1);}}

.dropdown{
   $dropdown-width: 170px;
   position: absolute;
   top: 4.75rem;left: -50%;
   display: block;
   width: $dropdown-width;min-height: 30px;height: auto;
   padding-top: 3px;
   background: #edebeb;
   box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: .3);
   transform: scale(1, 0);
   transform-origin: top;
   transition: transform .2s .3s ease;
   z-index: 1000;
   
   &_list{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      list-style: none;
      cursor: auto;
      width: 100%;height: 100%;

      &__item{
         display: flex;
         width: 100%;height: 28px;
         text-align: justify;
         border-bottom: solid 1px #dcd9d9;
         transition: background .1s ease;

         &:hover{background: #f6f5f5;}
         
         a{
            margin: auto 0;
            // padding: 1px calc(#{$dropdown-width} - 160px) 1px 15px;
            padding: 1px 50px 1px 15px;
            text-decoration: none;
            vertical-align: middle;
            font-family: "PT Sans";
            font-size: 14px;
            font-weight: 100;
            line-height: 20px;
            color: #444;
         }
      }
   }
   
   &::before{
      content: '';
      position: absolute;
      top: -1px;
      display: block;
      background: #a0ce4e;
      width: 100%;height: 4px;
      border-radius: 10px 10px 0 0;
   }
}

// header
.header-container{
   width: 100%;
   height: 90px;
   background: url('../img/header-bg.png') no-repeat;
   background-position-y: 5%;
   background-size: cover;
   
   &_content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h5{
         font-family: "Museo Slab 500";
         font-size: 18px;
         font-weight: 500;
         letter-spacing: 1px;
      }
      span,
      a{
         font-family: "PT Sans";
         font-size: 13px;
         font-weight: 400;
         text-decoration: none;
         color: #333;
      }
      a:hover{
         text-decoration: underline;
      }
   }
   .inner .header-container_content{grid-column: 2/3;}
}

// Section title
.section-title-box{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;

   width: 100%;height: auto;

   &_title{
      display: inline-block;
      font-family: "Museo Slab 500", Arial, sans-serif;
      font-size: 18px;
      color: #343333;
   }
   .double-hr{
      border-top: 1px solid #e7e6e6;
      border-bottom: 1px solid #e7e6e6;
      width: 100%;height: 6px;
   }
}

// Learn More Button
.learn-more{
   display: inline-block;
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 12px;
   font-weight: 600;
   text-decoration: none;
   padding: .5em;
   margin: 15px 0 10px 190px;
   color: #555;
   transition: color .1s ease;

   &:hover{color: #a0ce4e}
   .fas{font-size: 10px;margin-left: 4px;}
}

// Footer
.footer{
   display: grid;
   grid-template-columns: 1fr 68% 1fr;
   grid-template-rows: repeat(2, auto);

   width: 100%;height: auto;
   background: #363839;
   border-top: 10px solid #e9eaee;

   &_upper{
      grid-column: 2/3;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      padding: 1rem 0 3.5rem;

      .footer_col1,
      .footer_col2,
      .footer_col3,
      .footer_col4{
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: baseline;
         width: 100%;height: auto;

         h5{
            margin: 1.25rem 0;
         }
      }
      .footer_col1{
         img{width: 120px;margin: 0.5rem 0 1rem; transform: translateX(-10%);}
         p{
            font-family: "PT Sans", Arial, sans-serif;
            font-size: 13px;
            color: #8c8989;
            text-shadow: 0px 0px 5px #000;
            font-style: italic;
            line-height: 18px;     
         }
      }
      .footer_col2,
      .footer_col3,
      .footer_col4{
         h5{
            font-family: "PT Sans", Arial, sans-serif;
            color: #ddd;
         }
      }
      .footer_col2{
         justify-content: space-around;   
         p{
            font-family: "PT Sans", Arial, sans-serif;
            color: #bfbfbf;
            font-size: 12px;
         }
      }
      hr{
         width: 95%;height: 1px;
         background: #282a2b;
         border: none;
         box-shadow: 0px 1px 0px #585151;
      }
      .footer_col3{
         gap: 1rem;
         justify-content: space-between;
         .comment{
            font-family: "PT Sans", Arial, sans-serif;
            font-size: 13px;
            color: #8c8989;
            line-height: 20px;
            &_nick,
            &_time{
               color: #bfbfbf;
            }
         }
         h5{
            margin-bottom: .85rem;
         }
      }
      .footer_col4{
         h5{
            margin-bottom: 2rem;
         }
         .album{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            gap: 4px;

            &_photo{
               display: block;
               width: 50px;height: 50px;
               background: #e6e7e8;
            }
         }
      }
      @media screen and (max-width: 1200px){
         .footer_col4{
            .album_photo{
               width: 45px;height: 45px;
            }
         }
      }
   }

   &_bottom{
      grid-column: 1/4;
      grid-row: 2/3;
      display: grid;
      grid-template-columns: 1fr 53% 15% 1fr;
      grid-template-rows: 1fr;
      
      width: 100%;height: 60px;
      background: #282a2b;
      border-top: 1px solid #4b4c4d;

      &__info{
         grid-column: 2/3;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;
         gap: 10px;
         font-family: "PT Sans", Arial,sans-serif;
         font-size: 14px;
         color: #bfbfbf;

         span{
            position: relative;
            font-family: "PT Sans", Arial,sans-serif;
            font-size: 13px;
            color: #8c8989;
         }
         .HL{color: #bfbfbf;}
      }
      &__social{
         grid-column: 3/4;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         
         .icon{
            position: relative;
            transform: translateY(10%);
            a:hover ~ .icon_name{
               visibility: visible;
            }
            img{
               width: 20px;
               &:hover{
                  filter: brightness(1.8);
               }
            }
         }
         .icon_name{
            position: absolute;
            top: -35px;left: -20px;
            display: block;
            width: 70px;height: 23px;
            visibility: hidden;
            background: #46494a;
            text-align: center;

            font-family: "PT Sans", Arial, sans-serif;
            font-size: 13px;
            color: #fff;

            &::after{
               content: '';
               transform: translate(160%, 50%);
               display: block;
               width: 10px;height: 10px;
               background: linear-gradient(-135deg, #46494a 50%, transparent 50%);
            }
         }
      }
   }
}